---
title: "Blending models - Sugar cane production"
author: "cbarz"
date: "2023-02-22"
categories: [pyomo, modeling, scheduling]
draft: true
code-fold: true
toc: true
description: A blending model with multiple products which fulfill certain requirements.
---

In [ ]:
import pandas as pd
import numpy as np
import pyomo.environ as pyo

# Example - Sugar cane production

Harvested sugar cane is immediately transported to a sugar house for further processing, because sugar decreases rapidly trough fermentation.

Suppose we have 11 wagons with sugar, all loaded with the same quantity. Moreover we know the hourly loss of sugar in kg per hour and the remaining live span in hour of the lot in every wagon. (see table below)

We as


This example is from [@gueret1999applications, chap. 6.4].

In [ ]:
data = {
'lot':{
    1:{'loss': 43, 'life_span': 8},
    2:{'loss': 26, 'life_span': 8},
    3:{'loss': 37, 'life_span': 2},
    4:{'loss': 28, 'life_span': 8},
    5:{'loss': 13, 'life_span': 4},
    6:{'loss': 54, 'life_span': 8},
    7:{'loss': 62, 'life_span': 8},
    8:{'loss': 49, 'life_span': 8},
    9:{'loss': 19, 'life_span': 8},
    10:{'loss': 28, 'life_span':8},
    11:{'loss': 30, 'life_span':8},    
}

}

In [ ]:
pd.DataFrame(data['lot'])

           1   2   3   4   5   6   7   8   9   10  11
loss       43  26  37  28  13  54  62  49  19  28  30
life_span   8   8   2   8   4   8   8   8   8   8   8